.login-body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #e6e8ea;
    position: relative;
    direction: ltr;
    color: #4c4f53 !important;
}

/* .login-box-plain {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 4px #D3D3D3;
    margin: 50px auto;
    padding: 55px 60px 60px;
    position: relative;
    min-height: 300px;
} */

.login-box-plain {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 4px #D3D3D3;
    margin: 50px 0;
    padding: 55px 20px 60px;
    position: relative;
    min-height: 300px;
}

.login-helpers {
    margin-top: 20px;
    font-size: 12px;
}

.bigintro {
    font-size: 38px;
    line-height: 38px;
    text-align: center;
}

.divide-40 {
    height: 40px;
    width: 100%;
}

.main-content {
    background: #eee;
    padding: 5px 15px 10px 10px;
    height: 100%;
}

.header-navbar {
    top: 0;
    height: 70px;
    width: 100%;
}

#ajax_loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.icon-spinner-snake {
    position: fixed;
    width: 42px;
    height: 42px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}